.texto-menor{
    font-size: 13px;
}

.div-facilidades{
    width: 325px;
}

.roxo{
    background-color: #9353FF;
    border-radius: 3px;
    padding: 10px;
    color:#fff;
    text-decoration: none;
  
 }
 
.teste{
    color: #ffffff;
    background-color: #198754;
}

.botao-estilizado{
    background-color: #9353FF;
    border-radius: 3px;
    padding: 10px;
    color:#fff;
    text-decoration: none;
  
 }

.verde-limao {
    color: #DAFF01;
}

.facilidades-color{
    background-color: #198754;
}

